body{
    /* background: radial-gradient(#cc2b5e,#753a88) */
}

.container-fluid{
    padding: 10px;;
    border: 3px solid black
}

.box{
    background: gray;
    height: 50vh;
    width: 100%;
}
.btn{
    
    border: 1px solid black !important;
    
    
}
.col{
    /* border: 1px solid gray !important; */
}
i{
    /* font-size: 2vw; */
}

.center{
    text-align: center;
}

img{
    height: 100%;
    width: 100%;
}
.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }